html{
    background-color: #1c2a10;
}

.playfair-display-900-normal {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
}

header>img{
    width: 300px;

}

h1{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #000000;
}

ul{
    list-style-type: none;
}

li{
    font-family: Playfair Display, serif;
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #000000;
}